{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <title>Jornal Pedal - 404</title>
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
  </head>
  <body>
<div style="margin: 100px auto;text-align:center;width: 582px;height: 287px;">
   <a href="http://www.facebook.com/JornalPedal"><img src="http://img204.imageshack.us/img204/2305/logopedal.png" alt="logo pedal"></a>
<h4 style="font-family: helvetica, arial">404 {% trans 'Page not found' %}</h4>
</div>
  </body>
</html>
