{% extends "core/base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% block title%}
- {{post.title}}
{% endblock %}
{% block content %}
<div id="post-header">
 {% block caption %}
  <div class="caption">
    <h4 class="category">{{post.category.title}}</h4>
    <h2>{{post.title}}</h2>
    <p>{% trans 'by' %} <a href="mailto:{{post.user.email}}">{{post.user.first_name}} {{post.user.last_name}}</a><br/> {{post.pub_date}}</p>
    <div class="social">
          <div class="fb-like" data-href="{{ CURRENT_URL }}" data-send="true" data-layout="button_count" data-width="200" data-show-faces="false"></div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="jornalpedal" data-lang="pt">Tweetar</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
  {% endblock %}
</div>
<div id="post-content">
  {% autoescape off%}
  {{post.content}}
  {% endautoescape%}
</div>
{% block comments %}
<div id="post-comments">
  <h3>{% trans 'comments' %}</h3>
  <div class="fb-comments" data-href="{{ CURRENT_URL }}"  data-num-posts="10"></div>
</div>
{% endblock %}
{% endblock %}
