{% load static from staticfiles %}
{% load i18n %}
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" media="all" />
    <link rel="stylesheet" href="{% static "css/base.css" %}" media="all" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% url core:feed %}" rel="alternate" type="application/rss+xml" title="{% trans 'pedal updates feed' %}" />
