{% load static from staticfiles %}
{% load staticassets %}
{% load i18n %}

{% block stylesheets %}
  {% stylesheet "css/application" %}
    <link rel="stylesheet" href="{{ asset.url }}"/>
  {% endstylesheet %}
{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% url core:feed %}" rel="alternate" type="application/rss+xml" title="{% trans 'pedal updates feed' %}" />
